*{
    margin: 0;
    padding: 0;
}
#row1
{
background-color: #1F1F1F;
height: 30px;
width: 100%;
}
.top-section
{
width: 90%;
margin: 0 auto;
}
.left-links
{
width :60%;
float:left;
height: 100%;

}
.left-link ul
{

}
 .left-link ul li
{
float: left;
list-style: none;
margin-left: 10px;
color: aliceblue;
line-height: 30px;

}
.left-link ul li a
{
color: aliceblue;
text-decoration: none;
}
.social-links
{
    width :30%;
    float:left;
    height: 100%;
    text-align: right;
}
.social-links i
{
color:aliceblue;
line-height: 30px;
border-right: 2px solid black ;
padding-right: 8px;
}
/*Row-1 Css End*/
/*Row-2 Css Start*/
#row2
{
background-color: white;
height: 80px;
width: 100%;
}
.header_section
{
width :90%;
margin: 0 auto;
}
.logo
{
width: 30%;
float: left;
}
.logo img 
{
    margin-top: 10px;
height :50px; 
}
.menu
{
width: 65%;
float: right;
text-align: right;
}

.menu ul 
{
    text-align: right;
} 
.menu ul li
{
float: left;
width: 106px;
line-height: 80px;
text-align: center;
list-style: none;
}
.menu ul li a
{
text-decoration: none;
text-transform: uppercase;
color: rgb(78, 39, 114);
;
}
.menu ul li i{
height: 30px;
width: 30px;
border: 2px solid #000;
border-radius: 100%;
line-height: 30px;
}
/*Row-2 Css End*/
/*Row-3 Css start*/
#row-3
{
height: 700px;
    width: 100%;
background-image: url(./images/banner.jpg);
background-repeat:no-repeat;
background-size:cover;
background-repeat:round;
}
.overlayrow3{
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.7);
    position:absolute;
}
.banner_section
{
text-align: center;
color:white;
position: absolute;
width: 90%;
margin: 0 auto;
}
.banner_content
{
    
}
.banner_content h1
{
text-transform: uppercase;
font-size: 50pX;
line-height: 70pX;
padding-top: 200px;
}
.banner_content p
{
font-size: 10px;
font-weight: 600;
margin-bottom: 40px;
}
.banner_button
{

}
.banner_button button{
    padding: 10px 20px;
  background: none;
    border: 2px solid #fff;
    color: aquamarine;
    text-transform: uppercase;
    border-radius: 3px;
    margin-right: 10px;
}
.banner_button button:hover{
    background-color: #455964;
    transition: 1s;
}


/*Row-3 Css End*/
/*Row-4 Css start*/
#row4
{
    background-color: #234757;
    height: 80px;
    width: 100%;
}
.form-section
{
width: 90%;
margin:0 auto;
}
.text-part
{    width: 15%;
    float:left;
    text-transform: uppercase;
padding-top: 10px;
}
.text-part h4
{
line-height: 32px;
}
.text-part h1
{
color: #fff;
}
.form-part
{
    padding-top: 23px;
}
.form-part form
{
width: 80%;
float :left;

}

.input-item
{
float: left;
padding-top: 10px;
width:420px

}
.input-item label
{
font-size: 18px;
font-weight: 500;
color: gray;
padding-right: 20px;
}
.input-item input[type="text"]
{
padding: 8px;
width: 320px;
color: gray;
}
.input-item input[type="date"]
{
    padding: 8px;
width: 320px;
color: gray;
}
.input-item i{
color: grey;
position: absolute;
margin-left: -30px;
line-height: 35px;
}
.form-part button{
padding: 10px 20px;
margin-top:10px ;
background: lightslategray;
border: none;
}
/*Row-4 Css End*/
/*Row-5 Css Start*/
#row-5{
 background-color: #fff;
    height: 400px;
    width: 100%;
}
.offer-section
{
width: 90%;
margin: 0 auto;
}
.offer-top
{
text-align: center;
padding: 40px 0px;
}
.offer-top h2
{
    
}
.offer-top p
{
    
}
.offer-button
{
    
}
.all-after-items
{
    
}

.offer-item
{
  width: 240px;
  float: left;  
  margin-left: 40px;
  border: 4px solid gray;
  border-radius: 5px;
  box-shadow: 2px 2px 2px;
  padding: 5px;
  transition: 1s;
  background-color: pink;
}
.offer-item:hover
{
    transform:scale(1.2);
    background: #2d3e50;
    color: #ff;
} 
.offer-item img
{
    width: 100%;
    height: 150px;
}
.offer-text
{
    width: 80%;
    float: left;
}
.offer-text h3
{
   font-size: 14px;
   margin-left: 10px; 
   padding-top: 10px;
}
.offer-text h4
{
    font-size: 12px;
   margin-left: 10px; 
   padding-bottom: 10px;

}
.offer-item:hover .offer-text h4
{
   color: gray;
}
.offer-icon
{
width: 10%;
float: left;
}
.offer-icon i
{
line-height: 50px;
}
/*Row-5 Css End*/
/*Row-6 Css Start*/
#row-6
{

}
.holidays-section
{

}
.holi-top
{

}
.holi-top h1
{

}
.holi-top p
{

}
.holi-bottom
{

}
/*Row-6 Css End*/

